#root {
  min-height: 100vh;
}

body, html {
  overflow-y: hidden; /* zapobiega paskowi poziomemu */
  margin: 0;
  /* overflow: hidden; <- użyj tego, jeśli aplikacja ma zawsze dokładnie rozmiar 1 ekranu (100vh) */
}